<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ellis.topia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Gachon Topia"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDZZOC3DXkganSOPQP_-DO-JrtiBTVgAM"
            />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".OrderForClientActivity" />
        <activity android:name=".OrderForShopActivity" />
        <activity android:name=".OrderForShopEditStatusActivity" />
        <activity android:name=".reserve"></activity>
        <activity android:name=".LookupActivity"></activity>
    </application>

</manifest>